/* LIST COUNTER */
ol.start { 
    counter-reset: mycounter;
}
ol.start li, ol.continue li {
    list-style: none;
}
ol.start li:before, ol.continue li:before { 
    content: counter(mycounter) ") "; 
    counter-increment: mycounter;
    position:relative;
    text-align: right;
    width:25px;
    display:block;
    float:left;
    left:-20px;
    
}
/* FIM DO LIST COUNTER */

h1{
    padding-left: 25px;
    font-family: sans-serif;
    background-color: paleturquoise;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 3px ;
}

h2{
    padding-left: 25px;
    font-family: sans-serif;
    text-align: justify;
}

h3{
    padding-left: 25px;
    font-family: sans-serif;
    background-color: rgb(173, 173, 255);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

ol li{
    font-family: sans-serif;
    width: 70%;
    background-color: #e4e4e4;
    padding: 10px 25px 10px 25px;
    border: 1px solid rgb(122, 142, 255);
    box-sizing: border-box;
}

ul li{
    font-family: sans-serif;
    padding: 10px 25px 10px 25px;
}

a{
    text-decoration: underline;
}

a.h1{
    text-decoration: none;
}

a.alist{
    text-decoration: underline;
}

a:link{
    color: red;
}

a:visited{
    color: green;
}

a:hover{
    background: #ccc;
    display:inline-block;
}

a:active{
    background-color: yellow;
}

b{
    font-size: large;
    font-family: serif;
}

b.key{
    font-size: large;
    font-family: sans-serif;
    color: rgb(156, 132, 0);
}

i.italic{
    color: chocolate;
}

body{
    background-color: #ccc;
}
